@import "../../variables.scss";

.startpage__content {
    color: $gold;
}

.button.start-button {
    margin: 25px auto 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.startpage__list {
    list-style: none;
    padding-left: 0;

    li {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.8px;

        @media (max-width: $mobile_l) {
            margin-bottom: 10px;

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 10px;
            }
        }

        &:nth-child(1) img {
            width: 13px;
        }

        &:nth-child(2) img {
            width: 11px;
        }

        &:nth-child(4) img {
            width: 14px;
        }

        &:nth-child(5) img {
            width: 18px;
        }

        &:nth-child(6) img {
            width: 4px;
            height: 20px;
        }
    }

    span {
        margin-right: 18px;
        margin-bottom: 5px;
        margin-top: 5px;
        width: 37px;
        height: 37px;
        border-radius: 37px;
        border: 2px solid #f1b769;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        flex-shrink: 0;

        img {
            width: 16px;
        }
    }
}