@import '../../variables.scss';

.email-form {
	box-sizing: border-box;
	max-width: 427px;
	margin: 0 auto;

	* {
		box-sizing: border-box;
	}

	&__field {
		width: 100%;
		height: 60px;
		background: none;
		border-radius: 10px;
		border: 1px solid #f1b769;
		color: #ffcd7f;
	}
}