@import "./variables.scss";

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    padding: 0;
    background: #0f1010 url('./images/bg-top3x.jpg');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: Rubik, Arial;
}

.button {
    width: 206px;
    height: 51px;
    line-height: 51px;
    border-radius: 10px;
    font-family: Rubik;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: -0.7px;
    text-align: center;
    color: #000000;
    background: $gold;

    &:hover{
        cursor: pointer;
    }
}
a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}